@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,500;1,100&display=swap');

body{
    /*background-color: rgb(18, 17, 17);*/
    background-color: rgba(165, 42, 42, 0.686);
    color: white;
}

button, .btnenviar{
    background-color: rgba(154, 144, 144, 0.868);
    text-transform:uppercase;
    cursor: pointer;
    letter-spacing: 5px;
    font-size: 1vw;
    text-shadow: rgba(255, 255, 255, 0.626) 1px 1px;
    box-shadow: 5px 5px rgba(0,0,0,.15);
    transition: all 0.25s ease;
    overflow-wrap: break-word;
}

.foto{
    border-radius: 50%;
    box-shadow: 5px 5px rgba(0,0,0,.15);
    height: 20%;
    width: 20%;
    transition: all 0.25s ease;
}

.foto:hover{
    height: 21%;
    width: 21%;
}

.datapersonal{
    box-shadow: 5px 5px rgba(0,0,0,.15);
}

.hidden {
    display: none;
}

#hernan{
    font-size: xxx-large;
    letter-spacing: 10px;
    text-shadow: black 5px 5px;
}

.fondodegrade{
    padding-top: 1%;
    background: rgba(248, 0, 0, 0.561);
    background: linear-gradient(124deg, rgba(255,0,0,0) 0%, rgba(249, 75, 75, 0.576) 50%, rgba(255,0,0,0) 100%);
}

#cv{
    font-size: xx-large;
    padding-bottom: 4%;
    letter-spacing: 10px;
    text-shadow: black 3px 3px;
}

#about {
    margin-left: 10%;
    margin-right: 10%;
    text-shadow: rgb(0, 0, 0) 2px 2px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 100;
    font-size: large;
    box-shadow: 8px 8px rgba(0,0,0,.15);
}

#abouttitulo{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    letter-spacing: 5px;
    text-transform:uppercase;
}

#datosdisplay{
    margin-left: 20%;
    margin-right: 20%;
    letter-spacing: 5px;
    padding-top: 1%; 
    padding-bottom: 1%;
    text-shadow: rgb(0, 0, 0) 1px 1px;
}

.fondoboton {
    background-color: rgb(101, 92, 92);
    text-shadow: rgb(0, 0, 0) 1px 1px;
    color: white;
}

*{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    border-radius: 10px;
}

.datapersonal{
    border-color: black;
    border-radius: 5px;
}

#testbt, #listaestudios {
    background-color: beige;
    display: none;
    vertical-align: middle;
}

.titulos{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(96, 77, 73, 0.665);
    text-shadow: rgb(0, 0, 0) 2px 1px;
}

.descripcion{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(179, 122, 109, 0.665);
}

li{
    padding-top: 1%;
    padding-bottom: 1%;
}

p.resumen{
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 2%;
}

.btn-menu button, .btn-trabajos button{
    display: block;
    cursor: pointer;
    width: 30%;
}

.scroll-bar{
    float:left;
    right: 100px;

    width: 100%;
    height: 365px;

    margin:4px, 4px;
    padding:4px;
    background-color: rgb(224, 106, 106);
    
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

#container {
    display: flex;
    width: 100%;
}

.datapersonal{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

#first {
    width: 30%;
    height: 10%;
}

.btninfopersonal {
    text-align: center;
    border-radius: 5%;
    width: 20%;
    overflow-wrap: break-word;
    height: 50px;
    line-height: 50px;
    font-size: 1vw;
}

.small_btn {
    width: 100%;
    height: 75px;
}
.small_btn:hover, .btnenviar:hover, .btninfopersonal:hover {
    cursor: pointer;
    background-color: rgb(87, 75, 75);
    text-shadow: rgb(0, 0, 0) 1px 1px;
    transition: 0.25s;
    color: rgba(245, 245, 245, 0.851);
}

#second {
    height: 300px;
    width: 30%;
    margin-left: 10px;
}

#container{
    border-color: 10px black;
}

.grid-btninfopersonal {
    display: inline-grid;
    grid-template-areas: "btnmail" "btnaddress" "btnbirth" "btntel";
    row-gap: 0px;
}

.grid-container {
    display: grid;
    grid-template-areas: "button1"
                         "button2"
                         "button3"
                         "button4";
    row-gap: 0px;
}

.grid-item:nth-child(1) {
    grid-area: button1;
}

.grid-item:nth-child(2) {
    grid-area: button2;
}

.grid-item:nth-child(3) {
    grid-area: button3;
}

.grid-item:nth-child(4) {
    grid-area: button4;
}

.infoform{
    border: 5px solid rgb(255, 255, 255);
    display: grid;
    row-gap: 2%;
    margin-left:25%;
    margin-right: 25%;
    padding-bottom: 1%;
    text-shadow: rgb(0, 0, 0) 2px 2px;
    box-shadow: 5px 5px rgba(0,0,0,.15);
}

.campo{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 2%;
    height: 20px;
    text-align: center;

}

.mensaje{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    resize: none;
}

.btnenviar{
    margin-right: 30%;
    margin-left: 30%;
    height: 30px;
    border-radius: 0%;
}